header{
	background-color: transparent;
	padding: 0px;
	width: 100%;
	position: fixed;
	z-index: 1000;
}

.nav{
	list-style: none;
	margin:20px;
	background-color: transparent;
	float: right;
	padding: 20px;
	display: flex;
	justify-content: flex-end;
}

.nav li a{
	color: white;
	text-align: center;
	padding: 30px;
	text-decoration: none;	
}

.logo{
	width: 80px;
	margin-left: 30px;
	margin-top: 10px;
}

.login{
	background-color:transparent;
	color: white;
	border-radius: 10px 10px;
	width: 100px;
	height: 50px;
	cursor: pointer;

}
video{
	width: 100%
}


.registro{
	width: 480px;
	height: 400px;
	background: white;
	position: absolute;
	z-index: 1;
	top: 138px;
    left: 800px;
    padding: 30px;
    text-align: left;
    color: grey;
}

.registro a{
	color: grey
}

.morado{
	color: #2B1E66;
	
}
h1{
	font-size: 50px;
}


.boton{
	background-color: #FF00BF;
	padding: 10px;
	border-radius: 10px 10px;
	width: 200px;
	height: 50px;
}
.become{
color: white;
font-size: 20px;
float: center;

}


footer{
	width: 100%;
	height: 600px;
	background-color: #333447;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer-section h3{
	color: #bfc7d9;
	margin-bottom: 23px;
    font-size: 24px;
    font-weight: 300;
}

.footer-section ul {
	list-style-type: none;
}

.footer-section ul li{
	margin-top: 10px;
}
.footer-section a{
	text-decoration: none;
    color: #f3f3f5;
}

.footer-section a:hover{
	color:#FF00BF;
}


	